<header class="header">
    <div class="header__mobile-menu">

        <div class="header__menu-buttons text-center">
            <a href="#" class="base-button base-button--small base-button--white">BOOK NOW</a>
            <a href="#" class="base-button base-button--small base-button--white-border">SIGN IN</a>
        </div>

        <ul class="header__mobile-menu-list mt-3">
            <li><a href="#" class="active">Storage</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
        <div class="header__mobile-menu-bottom">
            {#<ul class="header__mobile-menu-social">#}
                {#<li>#}
                    {#<a href="#">#}
                        {#<svg width="14px" height="13px" viewBox="0 0 14 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
                            {#<!-- Generator: Sketch Beta 47 (45292) - http://www.bohemiancoding.com/sketch -->#}
                            {#<title>linkedin black.1</title>#}
                            {#<desc>Created with Sketch Beta.</desc>#}
                            {#<defs></defs>#}
                            {#<g id="Text-Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                                {#<g id="Storage-Landing-var.1" transform="translate(-996.000000, -10175.000000)" fill="#FFFFFF">#}
                                    {#<g id="Group-11" transform="translate(0.000000, 10038.000000)">#}
                                        {#<g id="Group-10" transform="translate(983.664000, 123.849000)">#}
                                            {#<g id="Group-4" transform="translate(12.474000, 13.365000)">#}
                                                {#<g id="linkedin-black.1">#}
                                                    {#<g id="LinkedIn-black">#}
                                                        {#<g id="Icons">#}
                                                            {#<g id="Black">#}
                                                                {#<path d="M13.365,12.15 L10.4111528,12.15 L10.4111528,7.878789 C10.4111528,6.76080553 9.94909827,5.99758931 8.93305027,5.99758931 C8.15588767,5.99758931 7.72369395,6.51262417 7.52252731,7.0089869 C7.44708978,7.18714873 7.4588771,7.4353301 7.4588771,7.68351147 L7.4588771,12.15 L4.5325329,12.15 C4.5325329,12.15 4.57025166,4.58396628 4.5325329,3.89621553 L7.4588771,3.89621553 L7.4588771,5.19158292 C7.63175459,4.62520003 8.56686446,3.81685993 10.0591114,3.81685993 C11.9104719,3.81685993 13.365,5.00408533 13.365,7.56058779 L13.365,12.15 L13.365,12.15 L13.365,12.15 Z M1.57318504,2.8638118 L1.5543255,2.8638118 C0.611357625,2.8638118 0,2.23285531 0,1.43307306 C0,0.617730604 0.629431054,0 1.59125847,0 C2.55230008,0 3.14322657,0.616174796 3.1620861,1.43073905 C3.1620861,2.2305213 2.55230008,2.8638118 1.57318504,2.8638118 L1.57318504,2.8638118 L1.57318504,2.8638118 L1.57318504,2.8638118 Z M0.337111166,3.89621553 L2.94206023,3.89621553 L2.94206023,12.15 L0.337111166,12.15 L0.337111166,3.89621553 L0.337111166,3.89621553 L0.337111166,3.89621553 Z" id="LinkedIn"></path>#}
                                                            {#</g>#}
                                                        {#</g>#}
                                                    {#</g>#}
                                                {#</g>#}
                                            {#</g>#}
                                        {#</g>#}
                                    {#</g>#}
                                {#</g>#}
                            {#</g>#}
                        {#</svg>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#">#}
                        {#<svg width="15px" height="13px" viewBox="0 0 15 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
                            {#<!-- Generator: Sketch Beta 47 (45292) - http://www.bohemiancoding.com/sketch -->#}
                            {#<title>twitter black.1</title>#}
                            {#<desc>Created with Sketch Beta.</desc>#}
                            {#<defs></defs>#}
                            {#<g id="Text-Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                                {#<g id="Storage-Landing-var.1" transform="translate(-1046.000000, -10176.000000)" fill="#FFFFFF">#}
                                    {#<g id="Group-11" transform="translate(0.000000, 10038.000000)">#}
                                        {#<g id="Group-10" transform="translate(983.664000, 123.849000)">#}
                                            {#<g id="Group-4" transform="translate(12.474000, 13.365000)">#}
                                                {#<g id="twitter-black.1" transform="translate(49.896000, 0.891000)">#}
                                                    {#<g id="Twitter-black">#}
                                                        {#<g id="Icons">#}
                                                            {#<g id="Black">#}
                                                                {#<path d="M14.7015,1.4503284 C14.1613145,1.69632706 13.5797091,1.86268556 12.9696275,1.93701604 C13.5926528,1.55474519 14.0707083,0.948598055 14.2959294,0.226530819 C13.7125984,0.580485358 13.0680001,0.837987338 12.3793932,0.976029522 C11.8305785,0.375191775 11.0461876,0 10.1780944,0 C8.51352931,0 7.16306575,1.384847 7.16306575,3.09267737 C7.16306575,3.33513635 7.18895325,3.57051594 7.24072826,3.79704676 C4.73395712,3.66785335 2.51194852,2.43786154 1.02341828,0.564557508 C0.76368075,1.02292853 0.615259,1.55474519 0.615259,2.12107239 C0.615259,3.19355447 1.14767842,4.14038283 1.95709339,4.69520642 C1.46350553,4.68016341 0.997530772,4.53946638 0.590234597,4.30939587 L0.590234597,4.34744611 C0.590234597,5.84644352 1.63004841,7.09678771 3.01071406,7.37995116 C2.7578795,7.45251195 2.49123839,7.48879218 2.21596843,7.48879218 C2.02181215,7.48879218 1.83197076,7.47020979 1.64816954,7.43392925 C2.03216721,8.66215137 3.14532896,9.55677133 4.46559043,9.58066341 C3.43354268,10.4106865 2.13226544,10.9053381 0.71967181,10.9053381 C0.476329519,10.9053381 0.235575917,10.8911799 0,10.8628636 C1.33493112,11.7389009 2.92097059,12.25125 4.62350383,12.25125 C10.1720539,12.25125 13.2052037,7.53923089 13.2052037,3.4519413 C13.2052037,3.3174385 13.202615,3.1829357 13.1974373,3.05108775 C13.7868091,2.61483881 14.2985181,2.07063369 14.7015,1.4503284" id="Twitter"></path>#}
                                                            {#</g>#}
                                                        {#</g>#}
                                                    {#</g>#}
                                                {#</g>#}
                                            {#</g>#}
                                        {#</g>#}
                                    {#</g>#}
                                {#</g>#}
                            {#</g>#}
                        {#</svg>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#">#}
                        {#<svg width="8px" height="13px" viewBox="0 0 8 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
                            {#<!-- Generator: Sketch Beta 47 (45292) - http://www.bohemiancoding.com/sketch -->#}
                            {#<title>facebook black.1</title>#}
                            {#<desc>Created with Sketch Beta.</desc>#}
                            {#<defs></defs>#}
                            {#<g id="Text-Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                                {#<g id="Storage-Landing-var.1" transform="translate(-1099.000000, -10176.000000)" fill="#FFFFFF">#}
                                    {#<g id="Group-11" transform="translate(0.000000, 10038.000000)">#}
                                        {#<g id="Group-10" transform="translate(983.664000, 123.849000)">#}
                                            {#<g id="Group-4" transform="translate(12.474000, 13.365000)">#}
                                                {#<g id="facebook-black.1" transform="translate(103.356000, 0.891000)">#}
                                                    {#<g id="Facebook-black">#}
                                                        {#<g id="Icons">#}
                                                            {#<g id="Black">#}
                                                                {#<path d="M4.83002701,12.530929 L4.83002701,6.86395551 L7.05189595,6.86060651 L7.05189595,4.67089961 L4.83002701,4.65543534 L4.83002701,3.2454345 C4.83002701,2.60601698 5.03125901,2.1702752 6.07043082,2.1702752 L7.39584446,2.16976393 L7.39584446,0.19444604 C7.1666193,0.167531319 6.37983996,0.107399632 5.46448308,0.107399632 C3.55352142,0.107399632 2.24522543,1.13662285 2.24522543,3.02671196 L2.24522543,4.65543534 L0.0839309167,4.65543534 L0.0839309167,6.86395551 L2.24522543,6.86395551 L2.24522543,12.530929 L4.83002701,12.530929 Z" id="Facebook"></path>#}
                                                            {#</g>#}
                                                        {#</g>#}
                                                    {#</g>#}
                                                {#</g>#}
                                            {#</g>#}
                                        {#</g>#}
                                    {#</g>#}
                                {#</g>#}
                            {#</g>#}
                        {#</svg>#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}
            {#<div class="header__mobile-menu-phone">#}
                {#<a href="tel:+18446472247">+1-844-647-2247</a>#}
            {#</div>#}
            <div class="header__user-menu header__user-menu--mobile mt-3">
                <a href="#" class="header__user-menu-link js-user-menu-dropdown">
                    <span class="header__user-menu-photo" style="background-image: url('${require('/assets/images/storage-time-bg.png')}');"></span>
                    John Black
                </a>
                <ul class="header__user-menu-dropdown">
                    <li><a class="active" href="#">Luggage Storage</a></li>
                    <li><a href="#">Storage Items</a></li>
                    <li><a href="#">Item Requests</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-md-auto">
                <div class="header__logo">
                    <img src="${require('/assets/images/logo.svg')}" alt="BagsAway">
                </div>
            </div>
            <div class="col col-md-auto">
                <div class="header__nav">
                    <ul class="header__nav-menu header__nav-menu--desktop">
                        <li class="header__nav-menu-item">
                            <a href="#">Storage</a>
                        </li>
                        <li class="header__nav-menu-item">
                            <a href="#">Pricing</a>
                        </li>
                        <li class="header__nav-menu-item">
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col d-none d-lg-block text-right">
                <div class="header__buttons">
                    <!-- Для залогиненного юзера -->
                    {#<div class="header__user-menu mr-4">#}
                        {#<a href="#" class="header__user-menu-link js-user-menu-dropdown">#}
                            {#<span class="header__user-menu-photo" style="background-image: url('${require('/assets/images/storage-time-bg.png')}');"></span>#}
                            {#John Black#}
                        {#</a>#}
                        {#<ul class="header__user-menu-dropdown">#}
                            {#<li><a href="#">Luggage Storage</a></li>#}
                            {#<li><a href="#">Storage Items</a></li>#}
                            {#<li><a href="#">Item Requests</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    <!-- Для залогиненного юзера -->

                    <a href="#" class="base-button base-button--small base-button--filled">BOOK NOW</a>

                    <!-- Скрыть, когда юзер залогинен -->
                    <a href="#" class="base-button base-button--small base-button--border">SIGN IN</a>
                    <!-- Скрыть, когда юзер залогинен -->

                    <!-- Для залогиненного юзера - выход -->
                    {#<a href="#" class="header__logout">#}
                        {#<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
                            {#<!-- Generator: sketchtool 47 (45292) - http://www.bohemiancoding.com/sketch -->#}
                            {#<title>1FB96F28-0C0C-4403-9879-2F79E4C3E2B9</title>#}
                            {#<desc>Created with sketchtool.</desc>#}
                            {#<defs></defs>#}
                            {#<g id="Text-Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
                                {#<g id="header-logout-svg" transform="translate(-1162.000000, -34.000000)">#}
                                    {#<g id="Group-3">#}
                                        {#<path d="M1175.18406,35.0305091 C1174.51175,34.676806 1173.69994,35.1502102 1173.69994,35.9107169 C1173.69994,36.2968203 1173.93035,36.6325232 1174.27145,36.8134248 C1176.77437,38.1418366 1178.38089,40.9444613 1177.92188,44.0566888 C1177.46828,47.141916 1174.90055,49.6088378 1171.80093,49.9553409 C1167.58439,50.426045 1164.00056,47.1230159 1164.00056,43.0000795 C1164.00056,40.3036557 1165.53237,37.960035 1167.77159,36.7909246 C1168.08749,36.6262232 1168.2999,36.3148204 1168.2999,35.9584173 L1168.2999,35.8756166 C1168.2999,35.13041 1167.50609,34.6705059 1166.84458,35.016109 C1163.67296,36.6694236 1161.61014,40.1569544 1162.06194,44.0719889 C1162.53535,48.1679251 1165.87078,51.4871544 1169.96851,51.9425584 C1175.40096,52.5464637 1180,48.3101263 1180,43.0000795 C1180,39.5395489 1178.04788,36.5362224 1175.18406,35.0305091 M1170.09991,42.1000715 L1170.09991,34.9000079 C1170.09991,34.4023036 1170.50312,34 1170.99992,34 C1171.49762,34 1171.89993,34.4023036 1171.89993,34.9000079 L1171.89993,42.1000715 C1171.89993,42.5968759 1171.49762,43.0000795 1170.99992,43.0000795 C1170.50312,43.0000795 1170.09991,42.5968759 1170.09991,42.1000715" id="shut_down-[#1431]"></path>#}
                                    {#</g>#}
                                {#</g>#}
                            {#</g>#}
                        {#</svg>#}
                    {#</a>#}
                    <!-- Для залогиненного юзера - выход -->
                </div>
            </div>
        </div>
    </div>
</header>